In [1]:
import pandas as pd
import numpy as np

file_name = '../HashtagNetwork/allseason_20k_rawdata.json'

allseason = pd.read_json(file_name)

In [2]:
base_df = allseason[['id','hashtags']]

In [3]:
base_df.index = base_df['id']

In [4]:
base_df.head()

                      id                                           hashtags
id
BtOm-dkHn5v  BtOm-dkHn5v  [sport, travelling, winterfashion, cestovani, ...
BtQp-IfHkzq  BtQp-IfHkzq  [instagood, instastyle, fashionblog, fashionbl...
BtRdH3UBQ6i  BtRdH3UBQ6i  [london, like4like, corduroy, beanie, ootd, uk...
BtRJG92g_CG  BtRJG92g_CG                                                 []
BtOpNQpApMI  BtOpNQpApMI  [styleover50, chiberia, styleisforlife, thrift...

In [5]:
base_df = base_df.drop(columns=['id'])

# TagBlender & hashtaggedapp

In [6]:
before_len = len(base_df)

In [7]:
before_len

19981

In [8]:
blenderlist = []

In [9]:
for id,hashtags in base_df.iterrows():
    tags = hashtags['hashtags']
    
    if 'tagblender' in tags:
        blenderlist.append(id)

In [10]:
len(blenderlist)

25

In [11]:
print(blenderlist)

['BtRPygplZMD', 'BtRMZWsH48L', 'BtQTtVvB96P', 'BtPGr5Tli-r', 'BtPBsgeHnXE', 'BtO_6YonlnU', 'BtPWz0hAVEO', 'BtQhdlagz1B', 'BtRLVkPh4hh', 'BtO_-F7HHo3', 'BtQFOJ5h8xs', 'Bs0lrqlnXwS', 'BtIiSvNHHQg', 'BtGI90HgPMv', 'BtBaNaBFWw_', 'BVxeqg3BTdl', 'Bs5l0uBDctC', 'BrmB4GRDs6z', 'BWDpTI_B0tC', 'Bs-9-TPF96u', 'Bs_pJ8agvm0', 'Bnwn5ivhixz', 'BtB_q3VnoqW', 'Bnd2YFEF5zB', 'Bs_kTASBZfp']

In [12]:
hashtaggedapp_list = []

In [13]:
for id,hashtags in base_df.iterrows():
    tags = hashtags['hashtags']
    
    if 'hashtaggedapp' in tags:
        hashtaggedapp_list.append(id)

In [14]:
len(hashtaggedapp_list)

3

In [15]:
blenderlist += hashtaggedapp_list

In [16]:
for id in blenderlist:
    base_df = base_df.drop([id],0)

In [17]:
base_df.head()

                                                      hashtags
id
BtOm-dkHn5v  [sport, travelling, winterfashion, cestovani, ...
BtQp-IfHkzq  [instagood, instastyle, fashionblog, fashionbl...
BtRdH3UBQ6i  [london, like4like, corduroy, beanie, ootd, uk...
BtRJG92g_CG                                                 []
BtOpNQpApMI  [styleover50, chiberia, styleisforlife, thrift...

In [18]:
fashion_df = base_df[base_df.astype(str)['hashtags'] != '[]']

In [19]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19953 entries, BtOm-dkHn5v to BtJVaqsDGgY
Data columns (total 1 columns):
hashtags    19953 non-null object
dtypes: object(1)
memory usage: 311.8+ KB

In [20]:
fashion_df.head()

                                                      hashtags
id
BtOm-dkHn5v  [sport, travelling, winterfashion, cestovani, ...
BtQp-IfHkzq  [instagood, instastyle, fashionblog, fashionbl...
BtRdH3UBQ6i  [london, like4like, corduroy, beanie, ootd, uk...
BtOpNQpApMI  [styleover50, chiberia, styleisforlife, thrift...
BtRHyjZAem6  [lasvegas, style, mariadelosangeles_mdla, inst...

In [21]:
fashion_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17616 entries, BtOm-dkHn5v to BtCTPK7AJlC
Data columns (total 1 columns):
hashtags    17616 non-null object
dtypes: object(1)
memory usage: 275.2+ KB

# Testing...

In [22]:
def get_DataFrame_for_affinity(df,taglist):
    
    result_df = pd.DataFrame(
        0, index = np.arange(0,len(df)),columns=taglist)    
    
    for i in range(len(df)):
        list_of_row = list(df.iloc[i])[0]
        
        for tag in list_of_row:
            if tag in taglist:
                result_df[tag][i] = 1
        
    return result_df

In [23]:
def getTagsDict(df):
    tag_dict = {}
    
    for index, row in df.iterrows():
        for tag in row['hashtags']:
            if tag in tag_dict:
                tag_dict[tag] = tag_dict[tag] + 1
            else:
                tag_dict[tag] = 1
                
    sort_dict = sorted(tag_dict.items(), key=lambda kv: kv[1])
    return sort_dict

In [24]:
fashion_dict = getTagsDict(fashion_df)

In [25]:
fashion_dict = fashion_dict[-1000:]

In [27]:
tag_list1000 = []

for tag in fashion_dict:
    tag_list1000.append(tag[0])

In [29]:
before_corr = get_DataFrame_for_affinity(fashion_df,tag_list1000)

In [30]:
corr_affinity = before_corr.corr(method='pearson')

In [32]:
def addone_dividetwo(x):
    return pow((x+1)/2, 2)

In [33]:
corr_affinity_threshold = corr_affinity.copy()
corr_affinity_threshold = corr_affinity_threshold.applymap(addone_dividetwo)

In [35]:
from sklearn.cluster import SpectralClustering

sc = SpectralClustering(n_clusters=50, affinity='precomputed')

In [36]:
predict = pd.DataFrame(sc.fit_predict(corr_affinity_threshold))

In [37]:
predict.columns = ['Group']

In [40]:
node_df = pd.DataFrame(fashion_dict,columns=['Tag','Freq'])

In [42]:
node_df['Group'] = predict

In [43]:
node_df

                       Tag  Freq  Group
0               curvywomen    43     11
1                    newin    43     37
2                    izmir    43     18
3               beachvibes    43      9
4             1950sfashion    43     21
5       australiandesigner    43     37
6                     home    44     37
7               summerwear    44     37
8               hijabstyle    44     47
9                  natural    44     37
10                    suit    44     20
11           mumbaifashion    44     36
12               shoelover    44     37
13               lookdodia    44     47
14                  kuveyt    44     24
15             jeanscollic    44     24
16                  yeezus    44     24
17                 tankini    44     46
18            classicstyle    45     37
19                 scarves    45     37
20                ootdgals    45      2
21                 workout    45      1
22   anastasiabeverlyhills    45     32
23                 dressup    45     47
24                  dammam    45     24
25                   vibes    45     37
26                   fendi    45     37
27            instagramers    45     37
28          unisexclothing    45      5
29                    cali    45     43
..                     ...   ...    ...
970          fashionaddict   929     38
971                  model   949     11
972                 spring  1059     37
973         outfitoftheday  1104      2
974               boutique  1122     43
975                 trendy  1123     10
976         onlineboutique  1132     43
977             instastyle  1172     38
978                   sale  1183     10
979              instagood  1202     34
980                stylish  1323     10
981                   love  1336     34
982           styleblogger  1336     38
983                 summer  1376      9
984            fashionpost  1413     10
985            streetstyle  1529     11
986         onlineshopping  1568     10
987          womensfashion  1592     43
988               shopping  1601     10
989                 winter  1605     17
990            fashionista  2276     48
991           instafashion  2587     10
992         fashionblogger  3139     11
993                   ootd  4257      2
994                  style  4389     11
995            fallfashion  4399     43
996          summerfashion  4806      9
997          springfashion  4845     43
998          winterfashion  6005     17
999                fashion  6846     11

[1000 rows x 3 columns]

In [45]:
group_sort = node_df.sort_values(['Group'],ascending=True)

                    Tag  Freq  Group
543       londonfashion    94      0
441        dubaifashion    77      0
453               tokyo    78      0
775              london   182      0
768               paris   176      0
861                 nyc   279      0
701               miami   138      0
744        fashioninsta   161      0
554             glamour    95      0
866             newyork   298      0
533           happiness    92      1
98              hoodies    49      1
634          motivation   116      1
900           lifestyle   399      1
584            creative   100      1
844              design   244      1
125          polishgirl    50      1
466                 gym    80      1
627                hats   114      1
685               igers   131      1
443              sunday    77      1
623       clothingbrand   113      1
853             fitness   262      1
590              hoodie   102      1
402             vscocam    72      1
757           instamood   171      1
360        bestoftheday    67      1
771                mood   179      1
325              friday    64      1
279            nofilter    59      1
..                  ...   ...    ...
890  fashionphotography   370     48
990         fashionista  2276     48
922        fashiondaily   513     48
886       fashiondesign   359     48
898      fashionstylist   394     48
813         fashionshow   208     48
931         fashionblog   557     48
880         kidsfashion   349     48
378      fashionjewelry    70     48
344          tasfashion    65     48
874        fashionmodel   336     48
969         fashiongram   927     48
967         fashionable   903     48
788        hijabfashion   190     48
938      fashiondiaries   585     48
790         babyfashion   191     48
960        fashionstyle   810     48
941     fashiondesigner   599     48
945        fashionlover   640     48
927       streetfashion   535     48
897         fashionweek   393     48
909      whatiweartoday   434     49
904     shoptillyoudrop   407     49
884        stylishgirls   354     49
917               deals   486     49
885        girlsdresses   357     49
926                 new   531     49
879     fashionforgirls   348     49
896     sunglassesaddic   390     49
906      frenzyshopping   419     49

[1000 rows x 3 columns]

In [47]:
groupby_tags2 = group_sort.groupby('Group')['Tag'].apply(list)

In [49]:
summerlist = []
for list in groupby_tags2:
    print(list)
    print()
    if list[0] == 'summeroutfit':
        summerlist = list

['londonfashion', 'dubaifashion', 'tokyo', 'london', 'paris', 'nyc', 'miami', 'fashioninsta', 'glamour', 'newyork']

['happiness', 'hoodies', 'motivation', 'lifestyle', 'creative', 'design', 'polishgirl', 'gym', 'hats', 'igers', 'sunday', 'clothingbrand', 'fitness', 'hoodie', 'vscocam', 'instamood', 'bestoftheday', 'mood', 'friday', 'nofilter', 'clothingline', 'workout', 'gay', 'fashionkilla', 'fitnessmotivation']

['outfitgoals', 'styleinspiration', 'fashionstatement', 'theeverygirl', 'lotd', 'stylediaries', 'outfits', 'wiw', 'dailylook', 'styleblog', 'everydaystyle', 'mystyle', 'ootdmagazine', 'mylook', 'personalstyle', 'stylepost', 'outfitpost', 'igstyle', 'realoutfitgram', 'ootdshare', 'aboutalook', 'whatiworetoday', 'whattowear', 'stylediary', 'whatimwearing', 'pursuepretty', 'lookoftheday', 'flashesofdelight', 'ootdgals', 'ootdfashion', 'stylegoals', 'outfitoftheday', 'outfitstyle', 'indianfashion', 'ootdfash', 'liketoknowit', 'styletips', 'ootd', 'whowhatwear', 'outfitinspo', 'momstyle', 'fashioninspiration', 'womenwithstyle', 'bloggerstyle', 'wearitloveit', 'outfitideas', 'wiwt', 'thehappynow', 'casualstyle', 'outfitinspiration', 'americanstyle', 'styleicon', 'casualoutfit', 'lookbook', 'fashioninspo', 'styleinfluencer', 'fashioninfluencer', 'styleguide']

['stylingaway', 'ebay', 'ebayseller', 'poshmarkapp', 'poshmarkseller', 'mercari', 'mercariseller', 'work', 'poshboss', 'poshmark']

['ad', 'greendress', 'sunnyday', 'viral', 'mondaymotivation', 'springoutfit', 'bunstyle', 'bambooearrings', 'stellacove', 'springdress', 'naturalhair', 'hair', 'naturallife', 'polynesian', 'polynesiankids', 'naturalista', 'summerdress', 'garciajeans']

['kids', 'unisexclothing', 'springcollection', 'cutekids', 'fashionkids', 'boys', 'summerclothes', 'stylishkids', 'momblogger', 'girls', 'kidsclothes']

['beirutfashion', 'dubai', 'classy', 'nice', 'lebanon', 'newrelease', 'kuwait', 'italy', 'lebanese', 'internationalshipping', 'worldstar', 'germany', 'beirut', 'brand', 'europe']

['bagshop', 'bagsale', 'uk', 'sales', 'onsale', 'usa', 'australia', 'bagaddict', 'bagaholic']

['sustainablefashion', 'vintagebyblema', 'accra', 'thriftstore', 'blemacedishop', 'shopvintagebyblema', 'tops', 'thriftstorefinds', 'floral', 'skirts', 'ghana']

['summeroutfit', 'summer', 'sea', 'swimwear', 'bikini', 'swimsuit', 'summerbody', 'summerdays', 'ocean', 'beachbody', 'summerlove', 'beach', 'summervibes', 'beachfashion', 'summerfashion', 'bikinigirl', 'beachwear', 'beachvibes', 'beachlife', 'summertime', 'summerstyle']

['fashionpost', 'stylish', 'sale', 'onlineshopping', 'shopping', 'instafashion', 'womenswear', 'womenstyle', 'instashop', 'womenfashion', 'todaysoutfit', 'girlsfashion', 'egypt', 'trendy', 'instashopping', 'buy']

['afterpay', 'cotton', 'editorial', 'curvy', 'stylist', 'trend', 'style', 'boho', 'fashionblogger', 'photoshoot', 'freeshipping', 'streetstyle', 'blogger', 'beauty', 'model', 'linen', 'influencer', 'bohofashion', 'curvywomen', 'fashion']

['ethicalfashion', 'shopsmallbusiness', 'bohostyle', 'madewithlove', 'wanderlust', 'fallstyle', 'photographer', 'scarf', 'autumn', 'slowfashion', 'momlife', 'cashmere', 'supportsmallbusiness', 'momfashion', 'valentinesday', 'etsy', 'etsyseller', 'bohemianstyle', 'valentines', 'hat', 'entrepreneur', 'crochet', 'bohochic', 'cozy', 'momboss', 'knit', 'minimalism', 'blue', 'makersgonnamake', 'beanie', 'wool', 'giftideas', 'handcrafted', 'vintage', 'bohemian', 'vintageshop', 'handmade', 'pinterest', 'mompreneur', 'toddlerfashion', 'sweaterweather', 'knitwear', 'festivalfashion', 'knitting', 'handmadewithlove']

['jewelrysale', 'jewelryforsale', 'nycjewerly', 'jewelrylovers', 'jewelryparty', 'jewelrytrends', 'ilovejewelry', 'jewelrystore', 'trendsetter', 'instyle', 'jewelryaddict', 'jewellerydesigner', 'igfashion', 'jewelrydesign', 'jewelrygram', 'ontrend', 'igjewelry', 'jewelrydesigner', 'jewelryoftheday', 'postoftheday']

['weddingdress', 'eveningdress', 'glam', 'dior', 'gown', 'trendalert', 'bridal', 'highheels', 'bride', 'unique', 'wedding', 'hairstyles', 'evening', 'elegant', 'chocolate', 'gowns']

['influencerswanted', 'wanted', 'ootl', 'ambassador', 'comfy', 'brandambassador', 'modelswanted', 'deal', 'ambassadorswanted', 'instablogger', 'promoterswanted', 'ambassadorsearch']

['summernights', 'summernails', 'summerholiday', 'summerweather', 'summerjam', 'summernight', 'summerishere', 'summers', 'summerday', 'summerlovin', 'summerfeeling', 'summerfun']

['winter', 'freezing', 'photography', 'winterstyle', 'winteroutfit', 'naturephotography', 'art', 'instagram', 'snow', 'bhfyp', 'winterwonderland', 'travel', 'like', 'dog', 'christmas', 'winterfashion', 'cold']

['izmir', 'istanbul', 'lovely', 'ankara', 'kadın']

['colddays', 'instagramanet', 'winterfun', 'wintersoldier', 'winterishere', 'winteriscoming', 'winterbreak', 'winters', 'holidays', 'instatag', 'blizzard', 'winter2019', 'instawinter', 'wintertime', 'coldday', 'winterpark', 'snowing', 'wintersun', 'winter2018']

['dapper', 'urbanfashion', 'ootdmen', 'mensfashionpost', 'mensstyle', 'menswear', 'mensweardaily', 'men', 'streetwear', 'adidas', 'gq', 'mensfashion', 'urbanstyle', 'gqstyle', 'suit', 'menwithstyle', 'fashionmen', 'nike']

['retrostyle', 'pinup', 'pinupgirl', 'pinupstyle', 'truevintage', 'dasterbali', 'vintageclothing', 'vintagestyle', 'vintagefashion', 'vintagegirl', '1950sfashion']

['styleaddict', 'details', 'stylebloggers', 'styleoftheday', 'look', 'inspiration', 'hautecouture', 'runway', 'stylegram', 'getthelook', 'ss19']

['ootn', 'mensclothing', 'blog', 'happynewyear', '2019', 'newyear', 'vans', 'styledaily', 'gucci', 'fblogger']

['russia', 'morocco', 'albania', 'ukraine', 'iraq', 'algeria', 'romania', 'iran', 'bulgaria', 'newseason', 'dammam', 'baku', 'tshirt', 'yeezus', 'jeanscollic', 'kuveyt', 'tunisia', 'riyadh']

['今日のコーデ', 'お洒落さんと繋がりたい', 'ファッション', 'おしゃれさんと繋がりたい', 'セレクトショップ', 'coordinate', '春服', 'selectshop', '2019ss', '春コーデ', 'コーディネート', '春', 'コーデ']

['ltkshoecrush', 'ltkunder50', 'ltksalealert', 'liketkit', 'ltkunder100', 'ltkstyletip']

['seasons', 'green', 'flower', 'flowers', 'amazing', 'season', 'springtime', 'sun', 'color', 'blossom', 'warm', 'colorful', 'sunny']

['trending', 'fit', 'gorgeous', 'women', 'fashion2019', 'trends', 'sexy', 'sunshine', 'summer2019', 'womensstyle', 'bbw', 'fashions', 'womensfitness', 'shopwithsenior']

['instasale', 'couture', 'thrifting', 'thriftshop', 'weship', 'cashforclothes', 'gentlyused', 'designerresale']

['costume', 'costumesport', 'женскаяодеждабольшихразмеров', 'winter2019collection', 'accesorii', 'rochiiieftine', 'обувьназаказ', 'moldova', 'marimimari', 'incaltamintemoldova', 'localsmd', 'chisinau', 'женскаяодежда', 'haine', 'rochii', 'womancollection', 'cizme', 'incaltamintelacomanda', 'rochiideseara', 'genti', 'colectiadetoamna', 'md', 'newcollection2019', 'incaltamintedinpiele', 'mdfashion', 'incaltamintechisinau', 'pantofi']

['supporthandmade', 'statementjewelry', 'glitter', 'ilovehandmade', 'jewelrylover', 'handmadejewellery', 'aesthetic', 'pearls', 'jewellery', 'statementearrings', 'shophandmade', 'earrings', 'custom', 'buyhandmade']

['anastasiabeverlyhills', 'kyliejenner', 'kimkardashian']

['metalsmith', 'jewelryporn', 'artisan', 'jewelryjunkie', 'etsyshopowner', 'etsyjewelry', 'indiebusiness', 'jewelrybox', 'shoppingaddict', 'jewelrymaker', 'etsyshop']

['instadaily', 'instagood', 'follow', 'family', 'nature', 'beautiful', 'love', 'like4like', 'fun', 'tbt', 'picoftheday', 'selfie', 'friends', 'cute', 'me', 'happy', 'followme', 'instalike', 'likeforlike', 'girl', 'smile', 'repost', 'photooftheday']

['menstyle', 'frenzyshoppingfs', 'stylishmen', 'menfashion', 'fashionformen']

['followforfollowback', 'mumbaifashion', 'couplegoals', 'gift', 'likeforfollow', 'westernfashion', 'indianfashionblogger']

['hot', 'gifts', 'affordablefashion', 'fashionbombdaily', 'styling', 'louisvuitton', 'fashionlovers', 'fashionstore', 'retail', 'zara', 'like4likes', '데일리룩', 'sunglasses', 'leggings', 'portrait', 'pic', 'bossbabe', 'travelblogger', 'babyboutique', 'adventure', 'vacation', 'photo', 'vogue', 'clothingboutique', 'fashionforward', 'blessed', 'curvyfashion', 'selflove', 'weekend', 'weekendvibes', 'onepiece', 'springstyle', 'luxury', 'designerfashion', 'wardrobestylist', 'babygirl', 'obsessed', 'consignment', 'leatherjacket', 'accessories', 'igshop', 'canon', 'modesty', 'melbourne', 'springsummer2019', 'fall', 'cardib', 'newin', 'australiandesigner', 'home', 'summerwear', 'natural', 'shoelover', 'pretty', 'spring', 'classicstyle', 'scarves', 'vibes', 'womansfashion', 'fendi', 'instagramers', 'hairstyle', 'fashionmagazine', 'india', 'outdoors', 'madeinitaly', 'cabiclothing', 'spring2019', 'likeforlikes', 'fashiontrends', 'fashionicon', 'shopthelook', 'fashiongoals', 'blackgirlmagic', 'instapic', 'followus', 'street', 'inspo', 'goodmorning', 'staywarm', 'embroidery', 'workwear', 'fashionshoot', 'motd', 'musthave', 'fashionoftheday', 'shoestagram', 'dogsofinstagram', 'makeup', 'lifestyleblogger', 'boots', 'pink', 'modeling', 'winteroutfits', 'black', 'modest', 'fashionnova', 'fashionistas', 'forever21', 'heels', 'shoesaddict', 'sandals', 'leather', 'mua', 'hm', 'bags', 'colors', 'party', 'maxidress', 'chanel', 'jumpsuit', 'newlook', 'fur', 'loveit', 'newyorkcity', 'beautyblogger', 'nycfashion', 'stylebook', 'plaid', 'springfashion2019', 'brunette', 'urban', 'upscaleresale', 'chicago', 'falloutfits', 'fashionboutique', 'bloggerlife', 'nyfw', 'wednesday', 'resale', 'modestfashion', 'positivevibes', 'japan', 'longhair', 'animalprint', 'vsco', 'travelphotography', 'looks', 'yellow', 'styled', 'january', 'models', 'blackandwhite', 'gold', 'comingsoon', 'insta', 'lularoe', 'luxuryfashion', 'fashionist', 'discount', 'life', 'coldweather', 'makeupartist', 'la', 'fauxfur', 'cardigan', 'slay', 'wardrobe', 'datenight', 'australianfashion', 'falloutfit', 'winterlook', 'kidsstyle', 'canada', 'lovefashion', 'melbournefashion', 'leopardprint', 'explore', 'followforfollow', 'igdaily', 'toronto', 'personalstylist', 'artist', 'l4l', 'f4f', 'travelgram', 'modellife', 'loveyourself', 'polarvortex', 'platoscloset', 'springbreak', 'sweet', 'shopaholic', 'white', 'modern', 'potd', 'styles', 'newarrival', 'wintervibes', 'sunset', 'coffee', 'luxurylifestyle', 'autumnfashion', 'shopmycloset', 'styledbyme', 'baby', 'goals', 'retailtherapy', 'swag', 'onlinefashion', 'handbags', 'nordstrom', 'polkadots', 'linkinbio', 'follow4follow', 'classic', 'booties', 'shoeaddict', 'springtrends', 'womanfashion', 'streetphotography', 'wintercoat', 'instamodel', 'ootdinspo', 'melanin', 'losangeles', 'bloggers', 'snowday', 'portraitphotography', 'blazer', 'streetwearfashion', 'retro', 'blonde', 'prettylittlething', 'lace', 'stripes', 'instaphoto', 'red', 'minimalist', 'instalove']

['whatiwore', 'currentlywearing', 'ecofriendly', 'thatsdarling', 'shoppingday', 'supportlocal', 'resort', 'styleblogger', 'jumpsuits', 'styleinspo', 'flatlay', 'shopoholics', 'girlfashion', 'instastyle', 'fashionaddict']

['movielovers', 'movies', 'hunk', 'beinghuman', 'womenstracksuit', 'salmankhan', 'pictureoftheday', 'turkishfashion', 'passion', 'bollywood', 'mumbai', 'tigerzindahai', 'romantic', 'salmanlove', 'bangalore', 'handsome']

['wowshop', 'cairofashion', 'newstyle', 'cairo']

['jewelry', 'handmadelove', 'bracelet', 'necklace', 'handmadejewelry', 'ring', 'silver']

['curvygirl', 'plussize', 'holiday', 'goodvibes', 'plussizefashion', 'bodypositive', 'denim', 'sweaters', 'blackfriday']

['clothing', 'florida', 'boutiquefashion', 'boutiquestyle', 'fallfashion', 'smallbusiness', 'boutiqueclothing', 'shop', 'houston', 'boutique', 'springfashion', 'shoponline', 'shoplocal', 'shoppingonline', 'shopnow', 'houstonboutique', 'boutiqueshopping', 'womensboutique', 'atlanta', 'shopsmall', 'cali', 'girlboss', 'dallas', 'california', 'newarrivals', 'texas', 'boutiques', 'onlinestore', 'lasvegas', 'womensfashion', 'onlineboutique']

['sanfrancisco', 'womenempowerment', 'fashionphotographer', 'trendyclothes', 'fashionart', 'womensclothing', 'culture', 'instatravel']

['stylefashion', 'gamis', 'pfw', 'fashiongirl', 'fashioneditorial', 'fashionlook']

['bikinis', 'swimming', 'tankini', 'croptop', 'bikinifashion', 'monokini', 'beachstyle', 'resortwear', 'shorts', 'tan', 'swim', 'bikiniseason', 'beachbum', 'swimwearfashion', 'bikinilovers']

['coat', 'wholesaleclothing', 'newcollection', 'wintercollection', 'outfit', 'online', 'koreanstyle', 'dressup', 'jackets', 'pants', 'jeans', 'casual', 'bag', 'winterwear', 'hijab', 'skirt', 'modafeminina', 'hijabstyle', 'collection', 'mode', 'apparel', 'shirt', 'lookdodia', 'onlineshop', 'top', 'jacket', 'cool', 'shoes', 'sweatshirt', 'wholesale', 'designer', 'clothes', 'dresses', 'coats', 'woman', 'ladiesfashion', 'koreanfashion', 'shirts', 'dress', 'chic', 'moda', 'blouse', 'ladies', 'sweater', 'sneakers']

['highfashion', 'fashionbloggers', 'fashionphotography', 'fashionista', 'fashiondaily', 'fashiondesign', 'fashionstylist', 'fashionshow', 'fashionblog', 'kidsfashion', 'fashionjewelry', 'tasfashion', 'fashionmodel', 'fashiongram', 'fashionable', 'hijabfashion', 'fashiondiaries', 'babyfashion', 'fashionstyle', 'fashiondesigner', 'fashionlover', 'streetfashion', 'fashionweek']

['whatiweartoday', 'shoptillyoudrop', 'stylishgirls', 'deals', 'girlsdresses', 'new', 'fashionforgirls', 'sunglassesaddic', 'frenzyshopping']

In [51]:
summerlist

['summeroutfit',
 'summer',
 'sea',
 'swimwear',
 'bikini',
 'swimsuit',
 'summerbody',
 'summerdays',
 'ocean',
 'beachbody',
 'summerlove',
 'beach',
 'summervibes',
 'beachfashion',
 'summerfashion',
 'bikinigirl',
 'beachwear',
 'beachvibes',
 'beachlife',
 'summertime',
 'summerstyle']

In [52]:
post_id = fashion_df.index.values

In [53]:
summer_onehot = pd.DataFrame(before_corr.loc[0])
summer_onehot = summer_onehot.T
summer_onehot

,curvywomen,newin,izmir,beachvibes,1950sfashion,australiandesigner,home,summerwear,hijabstyle,natural,...,fashionista,instafashion,fashionblogger,ootd,style,fallfashion,summerfashion,springfashion,winterfashion,fashion
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [54]:
for tag in tag_list1000:
    summer_onehot[tag] = 0

for tag in summerlist:
    summer_onehot[tag] = 1
    
summer_onehot

,curvywomen,newin,izmir,beachvibes,1950sfashion,australiandesigner,home,summerwear,hijabstyle,natural,...,fashionista,instafashion,fashionblogger,ootd,style,fallfashion,summerfashion,springfashion,winterfashion,fashion
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [55]:
resultlist = []
for index, row in before_corr.iterrows():
    logical_and = row & summer_onehot
    resultlist.append(logical_and)

In [56]:
sumlist = []
for row in resultlist:
    sumvalue = row.sum(axis = 1)
    sumlist.append(sumvalue)

In [57]:
resultpd = pd.DataFrame(sumlist, post_id)

In [58]:
resultpd.sort_values(by=0, ascending = False)

              0
BtMYtdTneYP  11
BtN9MlGHV_k  11
BtAaNicgtt4  11
Bs-Y0nVhhR6  11
BtN9YVTHXmc  11
BtBV7LvguXP  11
BtIdVcWgyk4  11
BtOpe9infvQ  11
BtN9TfSH4Hu  11
BtNyaLSHNpG  11
BtMY07rH2Ac  11
BtHHIodAybs  11
BtAZNWIADL-  11
BtORacvDnyE  10
BtF8GV_DuBq  10
BtJKOrbjZwx  10
BtJKOrbjZwx  10
BtD_mBvn0IL  10
BtD_mBvn0IL  10
Bs-qW-4D2lO  10
BtORU96jFZJ  10
Bs8VuTVl8yi   9
BtDCC_clGQt   9
Bs6OdP0lWEe   9
BtGMo9OFS_C   9
Bs22fCTHofl   9
Bs7XyCSjdTw   9
Bs9wQ2-FHTf   9
Bs_B_wGH-Ld   9
BtPpirFlY-N   9
...          ..
Bs88kGHgU5W   0
BtREn29nDT4   0
BtAi50TnEnj   0
Bs1c6nLHaIg   0
Bs_plIJguz6   0
BtRDL62hKxd   0
BtSLW0bhz1F   0
BtR8S6VhzhJ   0
BtO_g4sHzSz   0
BtOuQx5gqPi   0
BtRyhQfF5Vt   0
BtQk47CAtJq   0
BtR4-zSj5c1   0
BtOnLZxh8LW   0
BtQ2hPNgwDd   0
BtRgfVlHcBn   0
BtQHTjQhIjZ   0
BtP65LsnEfe   0
BtSMtzSFygu   0
BtPFhFThOaR   0
BtRAli6AmcW   0
BtQpYj_ndQQ   0
BtMnrTThHku   0
BtO8r5pg9N3   0
BtR7a9tl-So   0
BtRvoRyFFV1   0
BtPCAhYnJlf   0
BtPMjspARi9   0
BtR4iKMnIPy   0
BtCTPK7AJlC   0

[17616 rows x 1 columns]